<div layout="row" flex="100" ng-cloak>
    <md-toolbar class="md-warn">
        <div class="md-toolbar-tools">
            <h2 class="md-flex">Toolbar: md-warn</h2>
        </div>
    </md-toolbar>
</div>
<div flex="90" class="content-body">
    <md-content layout-padding>
        <div layout="row" class="ng-scope layout-row">
            <div layout="row" layout-padding="" layout-wrap="" layout-fill="" style="padding-bottom: 32px;" class="whiteframedemoDirectiveAttributeUsage" >
                <div class="padded" md-whiteframe="6" flex-sm="45" flex-gt-sm="35" flex-gt-md="100" layout="" layout-align="center center">
                    <span>md-whiteframe="1"</span>
                </div>
            </div>
        </div>
        <md-divider></md-divider>
        <div layout="row" class="ng-scope layout-row">
            <div layout="row" layout-padding="" layout-wrap="" layout-fill="" style="padding-bottom: 32px;" class="whiteframedemoDirectiveAttributeUsage" >
                <div class="padded" md-whiteframe="6" flex-sm="45" flex-gt-sm="35" flex-gt-md="100" layout="" layout-align="center center">
                    <span>md-whiteframe="1"</span>
                </div>
            </div>
        </div>
    </md-content>
</div>


