<div layout="row" flex="100" ng-cloak>
    <md-toolbar class="md-warn">
        <div class="md-toolbar-tools">
            <h2 class="md-flex">Autómata finito determinístico</h2>
        </div>
    </md-toolbar>
</div>
<div flex="90" class="content-body"> 
<div layout="row" class="ng-scope layout-row">

            <div layout="row" layout-padding="" layout-wrap="" layout-fill="" style="padding-bottom: 32px;" class="whiteframedemoDirectiveAttributeUsage" >                
                <div class="padded" md-whiteframe="6" flex-sm="45" flex-gt-sm="35" flex-gt-md="100" layout="" layout-align="center center">
                    <div class="box-automata">                        
                            <div style="margin-bottom: 6px;">
                                <md-chips class="custom-chips" id="chipsimbolo" ng-keyUp="estan($event)" ng-model="simbolos" ng-init="count=0" md-transform-chip="newSimbolo($chip,count)" placeholder="Ingrese el Alfabeto">
                                    <md-chip-template>
                                    <span>
                                      <strong>{{$chip.name}}</strong>
                                    </span>
                                    </md-chip-template>
                                </md-chips>
                                <md-chips class="custom-chips" id="chipestados" ng-model="estados" md-transform-chip="newEstado($chip)" placeholder="Ingrese Estados">
                                    <md-chip-template>
                                    <span>
                                      <strong>{{$chip.name}}</strong>
                                    </span>
                                    </md-chip-template>
                                </md-chips>
                            </div>
                        <ng-md-table table-name="Tabla de transiciones" ini="ini" reiniciando="reiniciar()" data="estados" trans="tra" columns="simbolos" show-search="false" page-size="10" is-loaded="loaded">
                        </ng-md-table>

                    </div>
                </div>
            </div>
        </div>
        <md-divider></md-divider>
    <md-content layout-padding>
   <!--Mas nuevo-->
        <div layout="column"  class=" md-whiteframe-6dp"> 
        <md-toolbar layout="row">
                    <div class="md-toolbar-tools">    
                    <div>                
                    <md-button  class="md-icon-button md-accent" hide-gt-sm class="menuBtn" aria-label="Toggle Menu" ng-click="toggleSidenav('left')"><ng-md-icon icon="view_headline" style="fill: white;" aria-label="Eliminar" class="md-secondary"></ng-md-icon> </md-button>                        
                    </div>
                    <h4 style="text-align: center;color:white;">
                            Cadenas de aceptación y autómata.
                        </h4>
                    </div>
                    
                </md-toolbar>
            <div layout="row" flex class="change-my-css">
                <md-sidenav flex="30"layout="column" style="height: 500px;overflow-y:auto"  class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
                    <div>
                        <h4 layout-align-gt-sm="center" style="text-align: center;">
                            Cadenas
                        </h4>
                    </div>
                    <div style="overflow-y:auto">
                    <md-list>
                        <md-list-item class="animate-show" ng-repeat="cadena in cadenas" ng-click="null">
                            <div class="md-list-item-text">
                                <div layout="row">
                                    <h4>{{ cadena.cadena }}</h4>                        
                                </div>
                                <p ng-if="cadena.aceptacion" style="color: green;margin-top: -17px;" class="ng-scope">Cadena aceptada</p>
                                <p ng-if="!cadena.aceptacion" style="color: red;margin-top: -17px;" class="ng-scope">Cadena rechazada</p>
                            </div>
                            <ng-md-icon icon="delete" style="fill: purple" aria-label="Eliminar" class="md-secondary" ng-click="removeItem($index)">x</ng-md-icon>
                        </md-list-item>
                    </md-list>
                    </div>
                    <md-divider></md-divider>
                        <div class="md-list-item-text animate-show" ng-show="tra.length != 0" style="margin-left: 10px;">
                            <div layout="row">
                                <div layout="column">
                                    <md-input-container class="md-block flex-gt-sm" flex-gt-sm="100" >
                                        <label for="input_139">Cadena</label>
                                        <input ng-model="addMe" ng-change="errort=false" class="ng-pristine ng-untouched ng-valid md-input" aria-invalid="false"> 
                                    </md-input-container> 
                                </div>
                                <div layout="column">
                                    <md-input-container class="md-block flex-gt-sm" flex-gt-sm="100">
                                    <md-button class="md-raised" ng-click="addItem()">Evaluar</md-button>  
                                    </md-input-container>
                                </div> 
                                <div layout="column" class="layout-column">
                                    <md-input-container class="md-block flex-gt-sm flex-gt-sm-100" flex-gt-sm="100">  
                                    <md-button  class="md-icon-button md-accent"><ng-md-icon icon="delete" style="fill: purple" aria-label="Eliminar" class="md-secondary" title="Eliminar todas las cadenas" ng-click="removeNCadenas()">x</ng-md-icon> </md-button>     
                                              
                                    </md-input-container>
                                </div>   
                            </div>  
                            <p ng-show="errort" style="color: red;margin-top: -17px;" class="ng-scope animate-show">{{errortext}}</p>  
                        </div>
                </md-sidenav>
          
                <md-content layout="column" id="content" flex="70"  style="height: 500px" class="md-padding md-whiteframe-z2">
                    <div layout="row" style="height: 100%;" class="ng-scope layout-row">                        
                        <vis-network data="data" flex="100" layout-fill options="options" style="height: 500px" events="events"></vis-network>
                    </div>
                </md-content>
            </div>
        </div>
        <!--fin mas nuevo-->  
    
        
    </md-content>
    <md-divider></md-divider>
    <div layout="row" layout-align="center end" style="background: #29AAF6" flex>
        <div class="md-toolbar-tools"> 
          <p>Created by Elier Yair Arango, Julian Stiven Rivera ©2016.</p>
          <p>Todos los derechos reservados.</p>
        
        </div>
    </div>
<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="nodos">

  <md-toolbar class="md-theme-light">
    <h1 class="md-toolbar-tools">Agregar Estado</h1>
  </md-toolbar>
  <md-content layout-padding="">
    <form>
      <md-input-container>
        <label for="testInput">Nombre estado</label>
        <input type="text" id="nombreEst" ng-model="nombreEst" md-autofocus="">
      </md-input-container>
  
    </form>
    <md-button ng-click="agregarNodo()" class="md-primary">
    Agregar
    </md-button>
    <md-button ng-click="close()" class="md-secundary">
      Cancelar
    </md-button>
  </md-content>

</md-sidenav>

</div>



