<div layout="row" flex="100" ng-cloak>
    <md-toolbar class="md-warn">
        <div class="md-toolbar-tools">
            <h2 class="md-flex">Toolbar: md-warn</h2>
        </div>
    </md-toolbar>
</div>
<div flex="90" class="content-body">
    <md-content layout-padding>
        <div layout="row" style="height: 400px;" class="ng-scope layout-row">
            <div layout="row" layout-padding="" layout-wrap="" layout-fill="" style="padding-bottom: 32px;" class="whiteframedemoDirectiveAttributeUsage" >
                <div class="padded" md-whiteframe="6" flex-sm="100" flex-gt-sm="100" flex-gt-md="100" layout="" layout-align="center center">
                    <vis-network data="data" flex="100" layout-fill options="options" style="height: 300px !important;" events="events"></vis-network>
                </div>
            </div>
        </div>
        <md-divider></md-divider>
        <div layout="row" class="ng-scope layout-row">
            <div layout="row" layout-padding="" layout-wrap="" layout-fill="" style="padding-bottom: 32px;" class="whiteframedemoDirectiveAttributeUsage" >                
                <div class="padded" md-whiteframe="6" flex-sm="45" flex-gt-sm="35" flex-gt-md="100" layout="" layout-align="center center">
                    <div ng-controller="TableController" class="box-automata">
                        <div class="main-fab" style="position: absolute;z-index: 20;transform: scale(.88,.88);right: 158px;/*margin-top: 25px;*/top: 585px;">
                <md-button class="md-fab md-accent"   style="font-size: 25px;">+</md-button>
            </div>
                        <div style="margin-bottom: 6px;">
                            <md-chips class="custom-chips" ng-model="simbolos"
                                      md-transform-chip="newSimbolo($chip)" placeholder="Símbolos de entrada">
                                <md-chip-template>
                                <span>
                                  <strong>{{$chip.name}}</strong>
                                </span>
                                </md-chip-template>
                            </md-chips>
                            <md-chips class="custom-chips" ng-model="estados"
                                      md-transform-chip="newEstado($chip)" placeholder="Estados de transición">
                                <md-chip-template>
                                <span>
                                  <strong>{{$chip.name}}</strong>
                                </span>
                                </md-chip-template>
                            </md-chips>
                        </div>
                        <ng-md-table table-name="Tabla de transiciones" data="data" columns="columns" show-search="false" page-size="10" is-loaded="loaded">
                        </ng-md-table>
                        
                    </div>
                </div>
            </div>
        </div>
    </md-content>
</div>

<div id="mynetwork"></div>


